html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
}
p,li,h1,h2,h3, button{
    color:white;
    font-family: ubuntu;
}
/* p {
    max-width: 500px;
    font-family: "Avenir";
    line-height: 25px;
    text-align: justify;
    opacity: 0;
    color: #585858; 
} */

ul, ol{
    list-style-type: none;
}

#root{
    height:100vh;
    width:100%;
    /* background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
}
#quiz-canvas{
    padding-top: 50px;
    height: calc(100% - 50px);
    background-image:    url('../images/mainbg.png');
    background-size: 100% 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
}

#scoreboard{
    height:100px;
    background-color:rgba(189, 255, 237, 0.514)
}
#time{
    position: absolute;

}
.options{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
    margin-top:30px;
    margin-left:-35px;
}
.options li, #lastPage p {
    background-color: #edefec;
    color: rgb(15, 15, 15);
    font-size: 17px;
    justify-self: center;
    align-self: center;
    border: 2px solid #356698;
    border-radius: 4px;
    border-radius: 10px;
    min-width: 300px;
    width:fit-content;
    padding: 3px 0px;
    text-align: center;
}
.options li:hover, #playAgain:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    cursor:pointer;
}

.questionClass{
    text-align: center;
    font-size:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#question {
    font-size: 17px;
    text-align: center;
    background: linear-gradient(to right, #354f98 20%, 58%, #354f98 90%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: 0;
    padding: 9px 1px;
}
.buttonNext{
    position:relative;
    color:white;
    font-size:25px;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    width:110px;
    border-radius:11px;
    transition: transform, box-shadow 100ms linear;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
}
.buttonPlay{
    background-image:    url('../images/play.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;

}
.nextPos{
    transform:translate(-50%, -50%);
    top:20%;
    left:50%;
}
.nextPos:hover{
    transform:translate(-50%, -50%)scale(1.07);
}
.nextPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.playPos {
    transform: translate(-50%, -50%);
    width: 300px;
    height: 79px;
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: 10;
}
.playPos:hover{
    filter:brightness(110%)saturate(110%);
}
.playPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.middlelogo{
    position: absolute;
    width: 282px;
    top: 2%;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
}
#playscreen{
    position: absolute;
    height:100%;
    width:100%; 
    top:0;
    left:0;
    z-index: 5;  
    background-image: url('../images/mainbg.png');
    background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
#sipradi {
    position: relative;
    left: 3%;
    width: 122px;
    top: 14%;
}
#foot {
    width: 100%;
    height: 73px;
    position: absolute;
    bottom: 0%;
    background-color: white;
}
.sandipScreen{
    position: absolute;
    height:100%;
    width:100%; 
    top:0;
    left:0;
    z-index: 5;  
    background-size: 100% 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:   100% 100%;
}
.sandipbg1{
    background-image: url('../images/Post-01.png');
}
.sandipbg2{
    background-image: url('../images/Post-02.png'); 
}
.sandipbg3{
    background-image: url('../images/Post-03.png');
}
img#bat {
    position: absolute;
    right: 249px;
    top: -32px;
    width: 146px;
}
img#playhelmet {
    width: 123px;
    top: 115px;
    left: 220px;
    position: absolute;
}
.topleftlogo{
    position: absolute;
    left:3%;
    top:4%;
    width:140px;
}
.toprightlogo{
    position: absolute;
    right:3%;
    top:2%;
    width:45px;
}
/* #bat {
    animation: swing ease 1s infinite alternate-reverse;
    transform-origin: center 0px;
    float:left;
    } */
/* #bat:after{ 
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}  */
/*@keyframes swing {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-10deg); }
} */

img#ball {
    position: absolute;
    top: 152px;
    left: 3px;
    width:36px;
    /* animation: slideleft 1s cubic-bezier(.17,.67,.78,.3) forwards; */
}
.correctOpt{
    background-color:rgb(38, 136, 38) !important;
    color: white !important;
}
.incorrectOpt{
    background-color:rgb(185, 35, 35) !important;
    color: white !important;
} 
#scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#scoreboard p{
    font-size:30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    padding:10px;
    margin:auto;
}
#answer-box {
    background-color: rgba(255,255,255,.25);
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    border-radius: 40px;
    height: max-content;
    padding-bottom: 8px;
    margin-top:30px;
    border: 2px solid #4f5194;
    width: 700px;
}
#answer-box::after {
    content: attr(data-content);
    border: 1px solid #354f98;
    position: absolute;
    height: 24px;
    width: 106px;
    color: #354f98;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.25);
    top: -31px;
    padding: 3px 3px 0px 3px;
    left: 8%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
}
#balls{
     background-color: rgb(113, 113, 113);
}
#score{
    background-color: rgb(51, 50, 50);
}
#lastPage{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#lastPage p{
    align-self: center;
    margin:120px;
    width:280px;
}
#congP{
    text-align: center;
    font-size: 40px;
    margin-top: 81px;
}
#fifty{
    position: relative;
    margin-left:48%;
    color:rgb(236, 234, 234);
    background-color:rgb(0, 0, 0);
    display: inline-block;
    padding:2px;
    border-radius:3px;
    cursor: pointer;
}
#fifty:hover{
    background-color:rgb(182, 182, 182);
    color:black;
}

.bathit{
    animation: bathit 1s linear forwards;
}
.ballhit{
    animation: ballhit 1s 1s ease-out forwards;
}

img#bat2 {
    transform: scaleX(-1);
    margin-top: 156px;
    margin-left: -37px;
    width: 179px;
}
#ball2{
    height: 41px;
    width: 44px;
    margin-bottom: 3px;
}
@keyframes bathit{
    65%{
        transform:rotate(15deg);
    }
    75%{
        transform:rotate(16deg);
    }
    100%{
        transform:rotate(-23deg);
    }
}
@keyframes ballhit{
    100%{
        transform: scale(.5)translate(1874%, -994%);
}
    }

@media screen and (max-width:525px){
    .middlelogo{
        top:9%;
        width:230px;
    }
}
@media screen and (max-width:390px){
    img#playhelmet {
        width: 93px;
        top: 86px;
        left: 179px;
    }
    img#bat {
        right: 249px;
        top: -32px;
        width: 118px;
    }
    img#ball {
        top: 116px;
        left: 3px;
        width: 29px;
    }
}
@media screen and (max-width:350px){
    #playEnter {
        transform: scale(.7)translate(-50%, -50%);
        left:35%;

    }
    #helmet{
        left: 215px;
    }
}