@font-face {
    font-family: congFont;
    src: url("../font/Nilland-Black.ttf");
  }
@font-face {
    font-family: fusion;
    src: url("../font/fusion.ttf");
}

html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
}
p,li,h1,h2,h3, button{
    color:white;
    font-family: ubuntu;
}  
/* p {
    max-width: 500px;
    font-family: "Avenir";
    line-height: 25px;
    text-align: justify;
    opacity: 0;
    color: #585858; 
} */

ul, ol{
    list-style-type: none;
}

#root{
    height:100vh;
    width:100%;
    /* background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
}
#quiz-canvas{
    padding-top: 50px;
    height: calc(100% - 50px);
    background-image:    url('../images/mainbg.png');
    background-size: 100% 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
}
#nextball {
    position: absolute;
    color: rgb(28, 43, 82);
    font-weight: 600;
    display: block;
    padding: 15px;
    font-size: 30px;
    /* border: 2px solid rgba(190, 193, 196, 0.788); */
    cursor: pointer;
    /* border-radius: 50%; */
    /* height: 50px; */
    top: 76%;
    font-family: 'fusion';

    left: 50%;
    /* width: 55px; */
    text-align: center;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
#nextball:hover{
    cursor: pointer;
    filter:brightness(110%);
    -webkit-filter:brightness(110%);
    -moz-filter:brightness(110%);
}
#nextball:active{
    cursor: pointer;
    box-shadow: none;
}
#scoreboard{
    height:100px;
    background-color:rgba(189, 255, 237, 0.514)
}
#incor{
    position: absolute;
    width:290px;
    font-size:35px;
    background-color: rgba(255, 0, 0, 0.511);
    color:rgb(0, 0, 0);
    z-index: 4;
    border-radius:5px;
    height:80px;
    font-weight: 800;
    left:50%;
    top:50%;
    transform:translate(-850%,850%);
    -webkit-box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    vertical-align: middle;
    text-align: center;
    padding-top:35px;

}
.slideleft{
    animation: slideleft 300ms linear forwards;
}

.options{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
    margin-top:30px;
    margin-left:-35px;
}
.options li, #lastPage p {
    background: rgba(196,204,191,1);
    background: -moz-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,204,191,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(83%, rgba(235,240,232,1)), color-stop(100%, rgba(196,204,191,1)));
    background: -webkit-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -o-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: linear-gradient(to right, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ccbf', endColorstr='#c4ccbf', GradientType=1 );
    color: rgb(15, 15, 15);
    font-size: 17px;
    justify-self: center;
    align-self: center;
    border: 2px solid #356698;
    border-radius: 4px;
    border-radius: 10px;
    min-width: 300px;
    width:fit-content;
    padding: 3px 3px;
    text-align: left;
}
.options li:hover, #playAgain:hover{
    background:rgb(206, 206, 206);
    color:rgb(0, 0, 0);
    cursor:pointer;
}

.questionClass{
    text-align: center;
    font-size:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#question {
    font-size: 17px;
    text-align: center;
    background: linear-gradient(to right, #354f98 20%, 58%, #354f98 90%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: 0;
    padding: 9px 1px;
}
.buttonNext{
    position:relative;
    color:white;
    font-size:25px;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    width:110px;
    border-radius:11px;
    transition: transform, box-shadow 100ms linear;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
}
.buttonPlay{
    background-image:    url('../images/play.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;

}
.nextPos{
    transform:translate(-50%, -50%);
    top:20%;
    left:50%;
}
.nextPos:hover{
    transform:translate(-50%, -50%)scale(1.07);
}
.nextPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.playPos {
    transform: translate(-50%, -50%);
    width: 300px;
    height: 79px;
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: 10;
}
.playPos:hover{
    filter:brightness(110%)saturate(110%);
}
.playPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.middlelogo{
    position: absolute;
    width: 282px;
    top: 2%;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
}
.mainButton{
    background-image:    url('../images/play.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width:150px;
}
#playscreen{
    position: absolute;
    height:100%;
    width:100%; 
    top:0;
    left:0;
    z-index: 5;  
    background-image: url('../images/mainbg.png');
    background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
#sipradi {
    position: relative;
    left: 3%;
    width: 122px;
    top: 14%;
    float:left;
}
#foot {
    width: 100%;
    height: 73px;
    position: absolute;
    bottom: 0%;
    background-color: white;
}
#timer {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    background: none;
    vertical-align: middle;
    float: left;
    width: 12pc;
    margin: 16px 34px;
    color: rgba(1, 102, 163);
    height: 30px;
    text-align: center;
}

.sandipbg1{
    background-image: url(../images/Post-01.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin: 0;
    background-position-x: center;
    pointer-events: none; 
}
.sandipbg1:hover{
    cursor: pointer;
}
.sandipbg1:before{
    content: "Congratulation";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 34%;
    background-color: #060763;
    position: absolute;
    margin-top: 82px;
    font-size: 3rem;
    font-family: 'congFont';
    pointer-events: none;
}
.sandipbg1:after{
    content: " Play Again ";
    color: rgb(28, 43, 82); 
    background-image:    url('../images/main.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
    font-family: 'congFont';
    top: 144px;
    left: 45%;
    font-size: 1.5rem;
    padding:8px;
    pointer-events: auto; 
}
.sandipbg2{
    background-image: url(../images/Post-02.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin: 0;
    background-position-x: center;
    pointer-events: none;
}
.sandipbg2:hover{
    cursor: pointer;
}
.sandipbg2:before{
    content: "Had Fun!";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    background-color: #354f98;
    position: absolute;
    left: 38%;
    top: 10%;
    font-size: 3rem;
    pointer-events: none;
}
.sandipbg2:after{
    content: "Try Again";
    color: rgb(28, 43, 82); 
    background-image:    url('../images/main.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;
    position: absolute;
    font-family: 'congFont';
    top: 133px;
    left: 45%;
    font-size: 1.5rem;
    padding:8px;
    pointer-events: auto;   
}
.sandipbg3{
    /* background-image: url('../images/Post-03.png'); */
    background-color:white;

}
/* .sandipbg3:before{
    content: "Congratulation ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 34%;
    background-color: #354f98;
    position: absolute;
    margin-top: 82px;
    font-size: 3rem;
    
}
.sandipbg3:after{
    content: " You win ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 47%;
    background-color: #1e7eee;
    position: absolute;
    margin-top: 145px;
    font-size: 2rem;
    font-family: 'congFont';
} */
img#bat {
    position: absolute;
    right: 249px;
    top: -32px;
    width: 146px;
}
img#playhelmet {
    width: 123px;
    top: 115px;
    left: 220px;
    position: absolute;
}
.topleftlogo{
    position: absolute;
    left:3%;
    top:4%;
    width:140px;
}
.toprightlogo{
    position: absolute;
    right:3%;
    top:2%;
    width:45px;
}
#lastone{
    padding: 0;
    width: 100vw;
    /* background-image: url(../images/Post-01.png); */
    height: 100vh;
    margin: 0;
}
img#ball {
    position: absolute;
    top: 152px;
    left: 3px;
    width:36px;
    /* animation: slideleft 1s cubic-bezier(.17,.67,.78,.3) forwards; */
}
.correctOpt{
    background:rgb(173, 173, 173)!important;
    color: black !important;
}
.incorrectOpt{
    background:rgb(173, 173, 173)!important;
    color: black !important;
} 
#scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#scoreboard p{
    font-size:30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    padding:10px;
    margin:auto;
}
#answer-box {
    background-color: rgba(255,255,255,.25);
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: relative;
    border-radius: 40px;
    z-index: 4;
    height: max-content;
    padding-bottom: 8px;
    margin-top:30px;
    border: 2px solid #4f5194;
    width: 700px;
}
#answer-box::after {
    content: attr(data-content);
    border: 1px solid #354f98;
    position: absolute;
    height: 24px;
    width: 106px;
    color: #354f98;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.25);
    top: -31px;
    padding: 3px 3px 0px 3px;
    left: 8%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
}
#balls{
     background-color: rgb(113, 113, 113);
}
#score{
    background-color: rgb(51, 50, 50);
}
#lastPage{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#lastPage p{
    align-self: center;
    margin:120px;
    width:280px;
}
#congP{
    text-align: center;
    font-size: 40px;
    margin-top: 81px;
}
#fifty {
    position: absolute;
    color: rgb(55, 58, 61);
    display: block;
    padding: 15px 15px 15px 15px;
    font-size: 24px;
    /* border: 2px solid rgba(190, 193, 196, 0.788); */
    cursor: pointer;
    color: #223566; 
    font-weight: 600;
    /* border-radius: 50%; */
    /* height: 55px; */
    top: 76%;
    left: 50%;
    /* width: 60px; */
    font-family: 'congFont';
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}
#fifty:hover {
    /* background-color: rgb(0, 0, 0); */
    color: rgb(58, 53, 53);
}

.bathit{
    animation: bathit 1s linear forwards;
}
.ballhit{
    animation: ballhit 1s 1s ease-out forwards;
}

img#bat2 {
    transform: scaleX(-1);
    width: 179px;
    position: absolute;
    bottom: 90px;
}
#ball2 {
    height: 41px;
    position: absolute;
    width: 44px;
    bottom: 114px;
    left: 180px;
}
img#helmet2 {
    width: 126px;
    position: absolute;
    bottom: 80px;
    left: 233px;
}
.entrycong{
    position: absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:85%;
    padding:6px;
    font-size:22px;
    width:350px;
    text-align: center;
    z-index:25;
}
@keyframes slideleft{
    100%{
        transform:translate(-50%, -50%)
    }
}

@keyframes bathit{
    65%{
        transform:rotate(15deg);
    }
    75%{
        transform:rotate(16deg);
    }
    100%{
        transform:rotate(-23deg);
    }
}
@keyframes ballhit{
    100%{
        transform: scale(.5)translate(1874%, -994%);
    }
}

.mainButton{
    background-image:    url('../images/main.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;
}

#car {
    width: 300px;
    right: 116px;
    bottom: 20px;
    z-index: 4;
    position: absolute;
}

@media screen and (max-width:990px){
    #car {
        width: 300px;
        right: 60px;
        bottom: 20px;
        z-index: 4;
        position: absolute;
    }
}

@media screen and (max-width:896px){
    #car {
        width: 300px;
        right: 26px;
        bottom: 20px;
        z-index: 4;
        position: absolute;
    }
    .sandipbg1,.sandipbg2{
        background-size: cover;
        background-position: left;

    }
}

@media screen and (max-width:865px){
    #answer-box{
        width:640px;
    }
    #car{
        width:250px;
        right:111px;
    }
}

@media screen and (max-width:768px){
        img#bat2 {
            transform: scaleX(-1);
            width: 122px;
            position: absolute;
            bottom: 90px;
        }
        #ball2 {
            height: 33px;
            position: absolute;
            width: 34px;
            bottom: 114px;
            left: 113px;
        }
        img#helmet2 {
            width: 117px;
            position: absolute;
            bottom: 80px;
            left: 152px;
        }
        #car {
            width: 265px;
            right: -7px;
            bottom: 25px;
            z-index: 4;
            position: absolute;
        }

}

@media screen and (max-width:700px){
    #car {
        width: 211px;
        right: 15px;
        bottom: 40px;
    }
    .topleftlogo {
        position: absolute;
        left: 3%;
        top: 4%;
        width: 94px;
    }
    .toprightlogo {
        position: absolute;
        right: 3%;
        top: 2%;
        width: 31px;
    }
    #ml2 {
        width: 115px!important;
    }
    #batball2{
        position: relative;
        bottom: -6%;
    }
    img#bat2 {
        transform: scaleX(-1);
        width: 81px;
    }
    #ball2 {
        height: 23px;
        width: 24px;
        left:100px;
    }
    img#helmet2 {
        width: 72px;
        left:136px;
    }
    .options {
        grid-template-columns: 1fr;
        grid-gap: 19px 10px;
    }
    #answer-box {
        width: 317px;
        top:33%;
    }
    
    
}
#ml2{
    width:200px;
}
@media screen and (max-width:694px){
        img#bat2 {
            transform: scaleX(-1);
            width: 122px;
            position: absolute;
            bottom: 90px;
        }
        #ball2 {
            height: 33px;
            position: absolute;
            width: 34px;
            bottom: 114px;
            left: 113px;
        }
        img#helmet2 {
            width: 117px;
            position: absolute;
            bottom: 80px;
            left: 152px;
            display: none;
        }
        #car {
            width: 251px;
            right: -23px;
            bottom: 20px;
            z-index: 4;
            position: absolute;
        }

}
@media screen and (max-width:618px){
        img#bat2 {
            transform: scaleX(-1);
            width: 100px;
            position: absolute;
            bottom: 90px;
        }
        #ball2 {
            height: 29px;
            position: absolute;
            width: 30px;
            bottom: 114px;
            left: 88px;
        }
        img#helmet2 {
            width: 117px;
            position: absolute;
            bottom: 80px;
            left: 152px;
            display: none;
        }
        #car {
            width: 215px;
            right: -23px;
            bottom: 20px;
            z-index: 4;
            position: absolute;
        }
}
@media screen and (max-width:578px){

        img#bat2 {
            transform: scaleX(-1);
            width: 100px;
            position: absolute;
            bottom: 90px;
        }
        #ball2 {
            height: 29px;
            position: absolute;
            width: 30px;
            bottom: 114px;
            left: 88px;
        }
        img#helmet2 {
            width: 117px;
            position: absolute;
            bottom: 80px;
            left: 152px;
            display: none;
        }
        #car {
            width: 215px;
            right: -23px;
            bottom: 20px;
            z-index: 4;
            position: absolute;
        }
}
@media screen and (max-width:525px){
    .middlelogo{
        top:9%;
        width:230px;
    }
    #ml2{
        top:2%;
    }
    #car {
        width: 179px;
        right: 3px;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before {
        margin-left: 11%;
        margin-top: 162px;
        font-size: 2.3rem;
    }
    .sandipbg1:after, .sandipbg2:after, .sandipbg3:after{
        margin-left: 31%;
        margin-top: 209px;
        font-size: 1.4rem;
    }

}
@media screen and (max-width:514px){
    #helmet2{
        display: none;
    }
    .middlelogo{
        top:9%;
        width:230px;
    }
    .toprightlogo {
        position: absolute;
        right: 6%;
        top: 2%;
        width: 31px;
    }
    #ml2{
        top:2%;
    }
    #sipradi {
        position: relative;
        left: 2%;
        width: 113px;
        top: 0%;
    }
    #car {
        width: 179px;
        right: 3px;
        display: none;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before {
        margin-left: 11%;
        margin-top: 162px;
        font-size: 2.3rem;
    }
    .sandipbg1:after, .sandipbg2:after, .sandipbg3:after{
        margin-left: 31%;
        margin-top: 209px;
        font-size: 1.4rem;
    }
    }
    
@media screen and (max-width:420px){
#helmet2{
    display: none;
}
.middlelogo{
    top:9%;
    width:230px;
}
#ml2{
    top:2%;
}
#car {
    width: 179px;
    right: 3px;
    display: none;
}
@media screen and  (max-width:400px){
    .entrycong{
        top: 83%;
        font-size: 16px;
        width: 216px;
    }
}

.sandipbg1:before, .sandipbg2:before, .sandipbg3:before {
    margin-left: 11%;
    margin-top: 162px;
    font-size: 2.3rem;
}
.sandipbg1:after, .sandipbg2:after, .sandipbg3:after{
    margin-left: 31%;
    margin-top: 209px;
    font-size: 1.4rem;
}
}


@media screen and (max-width:390px){
    img#playhelmet {
        width: 93px;
        top: 86px;
        left: 179px;
    }
    img#bat {
        right: 249px;
        top: -32px;
        width: 118px;
    }
    img#ball {
        top: 116px;
        left: 3px;
        width: 29px;
    }
}
@media screen and (max-width:411px){
    img#playhelmet {
        width: 93px;
        top: 86px;
        left: 179px;
    }
    #ball2 {
        height: 24px;
        position: absolute;
        width: 25px;
        bottom: 95px;
        left: 80px;
    }
    img#bat2 {
        transform: scaleX(-1);
        width: 89px;
        position: absolute;
        bottom: 79px;
    }
    img#bat {
        right: 249px;
        top: -32px;
        width: 118px;
    }
    img#ball {
        top: 116px;
        left: 3px;
        width: 29px;
    }
}
@media screen and (max-width:380px){
    img#playhelmet {
        width: 93px;
        top: 86px;
        left: 179px;
    }
    #ball2 {
        height: 24px;
        position: absolute;
        width: 25px;
        bottom: 95px;
        left: 80px;
    }
    img#bat2 {
        transform: scaleX(-1);
        width: 89px;
        position: absolute;
        bottom: 79px;
    }
    img#bat {
        right: 249px;
        top: -32px;
        width: 118px;
    }
    img#ball {
        top: 116px;
        left: 3px;
        width: 29px;
    }
    #timer{
        font-size:25px;
        margin: 16px 7px;
    }
}


@media screen and (max-width:360px){
    #car {
        width: 179px;
        right: 3px;
        display: none;
    }
    #answer-box {
        width: 317px;
        top: 33%;
    }
    #car {
        width: 100px;
        right: 0px;
    }
    #ball2 {
        top: 514px;
        height: 23px;
        width: 24px;
        left: 73px;
    }
    .playPos {
        transform: translate(-50%, -50%);
        width: 262px;
        height: 65px;
        position: absolute;
        top: 58%;
        left: 50%;
        z-index: 10;
    }
    img#bat {
        right: 216px;
        top: -32px;
        width: 118px;
    }
    #helmet{
        left: 215px;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before{
        margin-left: 11%;
        margin-top: 162px;
        font-size: 1.8rem;
    }
    .sandipbg1:after,.sandipbg2:after, .sandipbg3:after {
        margin-left: 31%;
        margin-top: 200px;
        font-size: 1rem;
    }
}
@media screen and (max-width:320px){
    #helmet2{
        display: none;
    }
    .middlelogo{
        top:9%;
        width:230px;
    }
    #ml2{
        top:2%;
    }
    #car {
        width: 179px;
        right: 3px;
        display: none;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before {
        margin-left: 11%;
        margin-top: 162px;
        font-size: 2.3rem;
    }
    .sandipbg1:after, .sandipbg2:after, .sandipbg3:after{
        margin-left: 31%;
        margin-top: 209px;
        font-size: 1.4rem;
    }
    }
    
#tokennum {
    background-color: blue;
    position: absolute;
    margin-left: 645px;
    margin-top: 210px;
}