@font-face {
    font-family: congFont;
    src: url("../font/Nilland-Black.ttf");
  }
  @font-face {
    font-family: congFont;
    src: url("../font/Nilland-Black.ttf");
  }@font-face {
    font-family: congFont;
    src: url("../font/Nilland-Black.ttf");
  }
html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
}
p,li,h1,h2,h3, button{
    color:white;
    font-family: ubuntu;
}
/* p {
    max-width: 500px;
    font-family: "Avenir";
    line-height: 25px;
    text-align: justify;
    opacity: 0;
    color: #585858; 
} */

ul, ol{
    list-style-type: none;
}

#root{
    height:100vh;
    width:100%;
    /* background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center; */
}
#quiz-canvas{
    padding-top: 50px;
    height: calc(100% - 50px);
    background-image:    url('../images/mainbg.png');
    background-size: 100% 100%;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;     
}
#nextBall {
    position: absolute;
    color: rgb(41, 40, 40);
    font-size: 27px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    width: 129px;
    border-radius: 11px;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
    left: 54%;
    top: 64%;
    height: 41px;
     progid:DXImageTransformMicrosoftgradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}
#nextball:hover{
    cursor: pointer;
}
#nextball:active{
    cursor: pointer;
    box-shadow: none;
}
#scoreboard{
    height:100px;
    background-color:rgba(189, 255, 237, 0.514)
}
#incor{
    position: absolute;
    width:290px;
    font-size:35px;
    background-color: rgba(255, 0, 0, 0.511);
    color:rgb(0, 0, 0);
    z-index: 4;
    border-radius:5px;
    height:80px;
    font-weight: 800;
    left:50%;
    top:50%;
    transform:translate(-850%,850%);
    -webkit-box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    box-shadow: 7px -8px 24px -1px rgba(0,0,0,0.75);
    vertical-align: middle;
    text-align: center;
    padding-top:35px;

}
.slideleft{
    animation: slideleft 300ms linear forwards;
}
.options{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
    margin-top:30px;
    margin-left:-35px;
}
.options li, #lastPage p {
    background: rgba(196,204,191,1);
    background: -moz-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(196,204,191,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(83%, rgba(235,240,232,1)), color-stop(100%, rgba(196,204,191,1)));
    background: -webkit-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -o-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: -ms-linear-gradient(left, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    background: linear-gradient(to right, rgba(196,204,191,1) 0%, rgba(255,255,255,1) 45%, rgba(235,240,232,1) 83%, rgba(196,204,191,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4ccbf', endColorstr='#c4ccbf', GradientType=1 );
    color: rgb(15, 15, 15);
    font-size: 17px;
    justify-self: center;
    align-self: center;
    border: 2px solid #356698;
    border-radius: 4px;
    border-radius: 10px;
    min-width: 300px;
    width:fit-content;
    padding: 3px 3px;
    text-align: left;
}
.options li:hover, #playAgain:hover{
    background:rgb(206, 206, 206);
    color:rgb(0, 0, 0);
    cursor:pointer;
}

.questionClass{
    text-align: center;
    font-size:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#question {
    font-size: 17px;
    text-align: center;
    background: linear-gradient(to right, #354f98 20%, 58%, #354f98 90%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin: 0;
    padding: 9px 1px;
}
.buttonNext{
    position:relative;
    color:white;
    font-size:25px;
    vertical-align: middle;
    text-align: center;
    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    width:110px;
    border-radius:11px;
    transition: transform, box-shadow 100ms linear;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
}
.buttonPlay{
    background-image:    url('../images/play.png');
    background-size: 100% 100%;                     
    background-repeat:   no-repeat;
    background-position: center center;

}
.nextPos{
    transform:translate(-50%, -50%);
    top:20%;
    left:50%;
}
.nextPos:hover{
    transform:translate(-50%, -50%)scale(1.07);
}
.nextPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.playPos {
    transform: translate(-50%, -50%);
    width: 300px;
    height: 79px;
    position: absolute;
    top: 58%;
    left: 50%;
    z-index: 10;
}
.playPos:hover{
    filter:brightness(110%)saturate(110%);
}
.playPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.middlelogo{
    position: absolute;
    width: 282px;
    top: 2%;
    left: 50%;
    height: auto;
    transform: translateX(-50%);
}
#playscreen{
    position: absolute;
    height:100%;
    width:100%; 
    top:0;
    left:0;
    z-index: 5;  
    background-image: url('../images/mainbg.png');
    background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}
#sipradi {
    position: relative;
    left: 3%;
    width: 122px;
    top: 14%;
}
#foot {
    width: 100%;
    height: 73px;
    position: absolute;
    bottom: 0%;
    background-color: white;
}
#timer {
    position: absolute;
    z-index: 4;
    top: 139.7%;
    font-weight: 700;
    font-size: 42px;
    background: none;
    /* border-radius: 50%; */
    vertical-align: middle;
    width: 12pc;
    color: rgba(3, 37, 30, 0.411);
    height: 30px;
    /* border: 2px solid gray; */
    padding: 10px 0 10px 0;
    margin-top: 12px;
    left: 37.5%;
    text-align: center;
}
#nextball{
    position: absolute;
    color: rgb(41, 40, 40);
    font-size: 27px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    width: 129px;
    border-radius: 11px;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
    left: 52%;
    top: 67%;
    height: 41px;
}
.sandipbg1{
    /* background-image: url('../images/Post-01.png'); */
    background-color:white;

}
/* .sandipbg1:before{
    content: "Congratulation ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 34%;
    background-color: #060763;
    position: absolute;
    margin-top: 82px;
    font-size: 3rem;
    font-family: 'congFont';
} */
/* .sandipbg1:after{
    content: " You win ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 47%;
    background-color: #1e7eee;
    position: absolute;
    margin-top: 145px;
    font-size: 2rem;
    font-family: 'congFont';
} */
.sandipbg2{
    /* background-image: url('../images/Post-02.png');  */
    background-color:white;

}
/* .sandipbg2:before{
    content: "Congratulation ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 34%;
    background-color: #354f98;
    position: absolute;
    margin-top: 82px;
    font-size: 3rem;
}
.sandipbg2:after{
    content: " You win ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 47%;
    background-color: #1e7eee;
    position: absolute;
    margin-top: 145px;
    font-size: 2rem;
    font-family: 'congFont';
} */
.sandipbg3{
    /* background-image: url('../images/Post-03.png'); */
    background-color:white;

}
/* .sandipbg3:before{
    content: "Congratulation ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 34%;
    background-color: #354f98;
    position: absolute;
    margin-top: 82px;
    font-size: 3rem;
    
}
.sandipbg3:after{
    content: " You win ";
    color: rgb(243, 233, 233);
    border: 1px solid blue;
    margin-left: 47%;
    background-color: #1e7eee;
    position: absolute;
    margin-top: 145px;
    font-size: 2rem;
    font-family: 'congFont';
} */
img#bat {
    position: absolute;
    right: 249px;
    top: -32px;
    width: 146px;
}
img#playhelmet {
    width: 123px;
    top: 115px;
    left: 220px;
    position: absolute;
}
.topleftlogo{
    position: absolute;
    left:3%;
    top:4%;
    width:140px;
}
.toprightlogo{
    position: absolute;
    right:3%;
    top:2%;
    width:45px;
}

img#ball {
    position: absolute;
    top: 152px;
    left: 3px;
    width:36px;
    /* animation: slideleft 1s cubic-bezier(.17,.67,.78,.3) forwards; */
}
.correctOpt{
    background:rgb(129, 160, 129) !important;
    color: white !important;
}
.incorrectOpt{
    background:rgb(129, 160, 129) !important;
    color: white !important;
} 
#scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#scoreboard p{
    font-size:30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    padding:10px;
    margin:auto;
}
#answer-box {
    background-color: rgba(255,255,255,.25);
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: relative;
    border-radius: 40px;
    height: max-content;
    padding-bottom: 8px;
    margin-top:30px;
    border: 2px solid #4f5194;
    width: 700px;
}
#answer-box::after {
    content: attr(data-content);
    border: 1px solid #354f98;
    position: absolute;
    height: 24px;
    width: 106px;
    color: #354f98;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.25);
    top: -31px;
    padding: 3px 3px 0px 3px;
    left: 8%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-size: 20px;
}
#balls{
     background-color: rgb(113, 113, 113);
}
#score{
    background-color: rgb(51, 50, 50);
}
#lastPage{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#lastPage p{
    align-self: center;
    margin:120px;
    width:280px;
}
#congP{
    text-align: center;
    font-size: 40px;
    margin-top: 81px;
}
#fifty {
    position: absolute;
    /* margin-left: 48%; */
    color: rgb(236, 234, 234);
    background-color: rgba(0, 0, 0, 0.58);
    display: inline-block;
    /* padding: 2px; */
    /* border-radius: 3px; */
    top: 110%;
    cursor: pointer;
    padding: 15px;
    font-size: 23px;
    border: 2px solid grey;
    cursor: pointer;
    border-radius: 39%;
    left: 31%;
}
#fifty:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.bathit{
    animation: bathit 1s linear forwards;
}
.ballhit{
    animation: ballhit 1s 1s ease-out forwards;
}

img#bat2 {
    transform: scaleX(-1);
    width: 179px;
    position: absolute;
    bottom: 90px;
}
#ball2 {
    height: 41px;
    position: absolute;
    width: 44px;
    bottom: 114px;
    left: 180px;
}
img#helmet2 {
    width: 126px;
    position: absolute;
    bottom: 80px;
    left: 233px;
}
@keyframes slideleft{
    100%{
        transform:translate(-50%, -50%)
    }
}

@keyframes bathit{
    65%{
        transform:rotate(15deg);
    }
    75%{
        transform:rotate(16deg);
    }
    100%{
        transform:rotate(-23deg);
    }
}
@keyframes ballhit{
    100%{
        transform: scale(.5)translate(1874%, -994%);
}
    }

#car {
    width: 300px;
    right: 200px;
    bottom: 20px;
    z-index: 4;
    position: absolute;
}

@media screen and (max-width:865px){
    #answer-box{
        width:640px;
    }
    #car{
        width:250px;
        right:111px;
    }
}
@media screen and (max-width:1050px){
    #fifty {
        top: 106%;

        padding: 15px;
        font-size: 15px;
        left: 29%;
    }
    .sandipbg1,.sandipbg2,.sandipbg3{
        background-size: cover;
    }
}
@media screen and (max-width:700px){
    .sandipbg1,.sandipbg2,.sandipbg3{
        background-size: cover;
        background-position: center left;
    }
    #car {
        width: 211px;
        right: 109px;
        bottom: 40px;
    }
    .topleftlogo {
        position: absolute;
        left: 3%;
        top: 4%;
        width: 94px;
    }
    .toprightlogo {
        position: absolute;
        right: 3%;
        top: 2%;
        width: 31px;
    }
    #ml2 {
        width: 115px!important;
    }
    #batball2{
        position: relative;
        bottom: -6%;
    }
    img#bat2 {
        transform: scaleX(-1);
        width: 81px;
    }
    #ball2 {
        height: 23px;
        width: 24px;
        left:100px;
    }
    img#helmet2 {
        width: 72px;
        left:136px;
    }
    .options {
        grid-template-columns: 1fr;
        grid-gap: 19px 10px;
    }
    #answer-box {
        width: 317px;
        top:40%;
    }
    
    
}
#ml2{
    width:200px;
}
@media screen and (max-width:525px){
    .middlelogo{
        top:9%;
        width:230px;
    }
    #ml2{
        top:2%;
    }
    #car {
        width: 180px;
        right: 63px;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before {
        margin-left: 11%;
        margin-top: 162px;
        font-size: 2.3rem;
    }
    .sandipbg1:after, .sandipbg2:after, .sandipbg3:after{
        margin-left: 31%;
        margin-top: 209px;
        font-size: 1.4rem;
    }

}

@media screen and (max-width:480px){
#helmet2{
    display: none;
}

}


@media screen and (max-width:390px){
    img#playhelmet {
        width: 93px;
        top: 86px;
        left: 179px;
    }
    img#bat {
        right: 249px;
        top: -32px;
        width: 118px;
    }
    img#ball {
        top: 116px;
        left: 3px;
        width: 29px;
    }
}

@media screen and (max-width:1859px){
    #nextball {
        left: 54%;
        top: 67%;
    }
}
@media screen and (max-width:360px){
    #nextball {
        left: 54%;
        top: 67%;
    }
    #answer-box {
        width: 317px;
        top: 33%;
    }
    #car {
        width: 180px;
        right: 5px;
    }
    #ball2 {
        top: 514px;
        height: 23px;
        width: 24px;
        left: 73px;
    }
    .playPos {
        transform: translate(-50%, -50%);
        width: 262px;
        height: 65px;
        position: absolute;
        top: 58%;
        left: 50%;
        z-index: 10;
    }
    img#bat {
        right: 216px;
        top: -32px;
        width: 118px;
    }
    #helmet{
        left: 215px;
    }
    .sandipbg1:before, .sandipbg2:before, .sandipbg3:before{
        margin-left: 11%;
        margin-top: 162px;
        font-size: 1.8rem;
    }
    .sandipbg1:after,.sandipbg2:after, .sandipbg3:after {
        margin-left: 31%;
        margin-top: 200px;
        font-size: 1rem;
    }
}
