html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    overflow: hidden;
}
p,li,h1,h2,h3, button{
    color:white;
    font-family: cursive;
}
#para1 {
    font-family: cursive;
    text-align: center;
}

ul, ol{
    list-style-type: none;
}

#root{
    height:100%;
    width:100%;
    background-color: rgb(56, 55, 55);
}
#quiz-canvas{
    padding-top: 50px;
    height: calc(100% - 50px);
}

#scoreboard{
    height:100px;
    background-color:rgba(189, 255, 237, 0.514)
}
.options{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
.options li{
    cursor:pointer;
    background-color:rgb(216, 211, 211);
    color:rgb(15, 15, 15);
    font-size:30px;
    justify-self: center;
    align-self: center;
    border-radius:4px;
    width:150px;
    text-align: center;
}
.options li:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255)

}

.questionClass{
    text-align: center;
    font-size:30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#question{
    font-size:30px;
    text-align: center;
}
.buttonNext{
    position:relative;
    color:white;
    background-color:rgba(63, 169, 84, 0.733);
    font-size:25px;
    display:block;
    text-align: center;
    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    width:110px;
    border-radius:11px;
    transition: transform, box-shadow 100ms linear;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);
}
.nextPos{
    transform:translate(-50%, -50%);
    top:20%;
    left:50%;
}
.nextPos:hover{
    transform:translate(-50%, -50%)scale(1.07);
}
.nextPos:active{
    transform:translate(-50%, -50%)scale(1);
    box-shadow: none;
}
.playPos{
    transform:translate(0, 0%);
    width:200px;
    height:50px;
}
.playPos:hover{
    transform:scale(1.07);
}
.playPos:active{
    transform:scale(1);
    box-shadow: none;
}

.welcome {
height: 100vh;
width: 100vw;
position: absolute;
background: #4A4A4A;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
letter-spacing: 2px;
color: #FFF; 
}


.loader-wrapper {
    height: 2px;
    width: 150px;
    background: #ededed;
    border-radius: 100px;
    opacity: 0; 
}

.loader {
    height: 2px;
    width: 150px;
    background: #FFF;
    border-radius: 100px;
    background: #585858; 
}
  
.correctOpt{
    background-color:rgb(38, 136, 38) !important;
    color: white !important;
}
.incorrectOpt{
    background-color:rgb(185, 35, 35) !important;
    color: white !important;
} 
#scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 10px;
}
#scoreboard p{
    font-size:30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px;
    padding:10px;
    margin:auto;
}
#balls{
     background-color: rgb(113, 113, 113);
}
#score{
    background-color: rgb(51, 50, 50);
}
#congP {
    text-align: center;
    font-size: 40px;
    margin-top: 81px;
}


.any {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    background-color: #4A4A4A;

}

#button1{
    position:relative;
    color:white;
    background-color:rgba(63, 169, 84, 0.733);
    font-size:25px;
    display:block;
    text-align: center;
    cursor:pointer;
    user-select: none;
    box-sizing: border-box;
    width:110px;
    border-radius:11px;
    transition: transform, box-shadow 100ms linear;
    box-shadow: 1px -2px 5px 1px rgb(41, 40, 40);

}

.icon-wrapper {
    width: 200px;
    height: 200px;
    background: grey;
    padding: 2.5em;
    margin: 2em auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
  }
  
  .cls-1 {
    fill: #fff;
  }
  
  .cls-2,
  .cls-3 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 22.93;
  }
  
  .cls-2 {
    stroke-width: 2px;
  }
  
  .icon-wrapper #bat {
    transform-origin: bottom left;
    transform: rotate(0) translate3d(0,0,0) scale(.9) rotateX(0deg);
    transition: all .5s cubic-bezier(0.56, -1, 0.55, 1.5);
  }
  .icon-wrapper:hover #bat {
    transform: rotate(30deg) scale(.75) rotateX(-10deg);
  }
  .icon-wrapper #ball {
    transform: translate(0px, 0px);
    transition: 500ms all ease-out .35s;
  }
  .icon-wrapper:hover #ball {
    transform: translate(33px,50px);
  }